html,
body {
    background-color: #f7abab;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

h2 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.pure-g {
    background-color: whitesmoke;
    width: 85%;
    margin: auto;
    padding: 25px;
    border-radius: 25px;
}

.p2 {
    width:380px;
    text-align: center;

}