h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

p,
div {
	font-family: 'Nobile', Helvetica, Arial, sans-serif;
}

#symbol_map {
	top: 40px;
	bottom: 40px;
	left: 50px;
	right: 50px;
	height: 40vw;
	width: 20vw;
	align-self: center;
}

#priceBarChart {
	top: 50px;
	bottom: 50px;
	left: 50px;
	right: 50px;
	height: 40vw;
	width: 40vw;
	align-self: center;
}

#serviceBarChart {
	top: 50px;
	bottom: 50px;
	left: 50px;
	right: 50px;
	height: 40vw;
	width: 40vw;
	align-self: center;
}

#reviews {
	top: 40px;
	bottom: 40px;
	left: 50px;
	right: 50px;
	height: 40vw;
	width: 20vw;
	align-self: center;
}