h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}
p, div {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
}

#symbol_map {
	top:40px;
	bottom: 40px; 
	left: 50px;
	right: 50px;
	height: 40vw;
	width: 20vw;
}

#priceBarChart {
	top:5px;
	bottom: 5px; 
	left: 5px;
	right: 5px;
	height: 40vw;
	width: 40vw;
}

#serviceBarChart {
	top:5px;
	bottom: 5px; 
	left: 5px;
	right: 5px;
	height: 40vw;
	width: 40vw;
}