h1 {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: whitesmoke;
	height: 70px;
}

#symbol_map {
	left: 50px;
	right: 50px;
	height: auto;
	align-self: center;
}

#priceBarChart {
	top: 60px;
	left: 50px;
	right: 50px;
	align-self: center;
}

#serviceBarChart {
	top: 60px;
	left: 50px;
	right: 50px;
	align-self: center;
}

#reviews {
	height: 38vw;
    top: 50px;
    bottom: 40px;
    left: 150px;
    right: 50px;
    align-self: center;
}

#poi {
	top: 60px;
	bottom: 40px;
	left: 50px;
	right: 50px;
	height: auto;


	align-self: center;
}